In [4]:
import numpy as np
import pandas as pd

In [34]:
df = pd.read_csv('assets/vendas_filial.csv', delimiter=';')
df.dtypes
df.head()

      Filial     Nome    Venda
0     Recife    Aline  10987.0
1     Recife     João  19876.0
2  Fortaleza     José  20304.0
3  Fortaleza  Matheus   1345.0
4      Natal   Melviw  56789.0

In [35]:
df['Filial'] = df.Filial.astype('str')
df['Nome'] = df.Nome.astype('str')
#df = df.astype({'Filial': str, 'Nome': str})
df.dtypes

Filial     object
Nome       object
Venda     float64
dtype: object

In [13]:
group = df.groupby('Filial')
display(group.sum())
display(group.mean())

/tmp/ipykernel_779/4020837672.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  display(group.sum())

             Venda
Filial
Fortaleza  21649.0
Natal      56789.0
Recife     30863.0

/tmp/ipykernel_779/4020837672.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  display(group.mean())

             Venda
Filial
Fortaleza  10824.5
Natal      56789.0
Recife     15431.5

In [15]:
group = df.groupby("Nome")
group.sum().loc["Aline"]

/tmp/ipykernel_779/43158650.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group.sum().loc["Aline"]

Venda    10987.0
Name: Aline, dtype: float64