Atividade aula assíncrona - 29/05

In [1]:
import pandas as pd

In [2]:
df_vendas = pd.DataFrame({
    'Produto': ['Camiseta', 'Calça', 'Tênis', 'Vestido', 'Sapato'],
    'Categoria': ['Roupas', 'Roupas', 'Calçados', 'Roupas', 'Calçados'],
    'Quantidade': [50, 30, 20, 40, 15],
    'Preço Unitário': [25.99, 59.99, 89.99, 49.99, 129.99],
    'Total Vendas': [1299.50, 1799.70, 1799.80, 1999.60, 1949.85]
})

df_vendas.head()

    Produto Categoria  Quantidade  Preço Unitário  Total Vendas
0  Camiseta    Roupas          50           25.99       1299.50
1     Calça    Roupas          30           59.99       1799.70
2     Tênis  Calçados          20           89.99       1799.80
3   Vestido    Roupas          40           49.99       1999.60
4    Sapato  Calçados          15          129.99       1949.85

1: Qual foi o total de vendas da loja para todos os produtos? Utilize o método sum().

In [7]:
df_vendas['Total Vendas'].sum()

8848.45

2: Quantos produtos diferentes foram vendidos?  Utilize o método nunique() .

In [10]:
df_vendas['Produto'].nunique()

5

3: Quais os produtos que, ao mesmo tempo, venderam mais que 25 unidades e têm preço unitário maior ou igual que 50? Faça uma filtragem em df_vendas com base em duas condições usando os operadores lógicos & (AND) , > (maior que) , >= (maior ou igual a).

In [14]:
df_vendas[(df_vendas['Quantidade'] > 25 )& (df_vendas['Preço Unitário'] >= 50)]

  Produto Categoria  Quantidade  Preço Unitário  Total Vendas
1   Calça    Roupas          30           59.99        1799.7