In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./assets/dados_vendas.csv')
df.head()

      Cliente        Região       Mês  Valor Compra
0   Cliente 4      Nordeste     Junho        1164.0
1   Cliente 1  Centro-Oeste     Junho        1517.0
2   Cliente 5      Nordeste  Setembro        2993.0
3  Cliente 10           NaN     Março        1490.0
4  Cliente 13           Sul  Novembro        2087.0

In [3]:
# Validando se existem valores nulos e eliminando os mesmos
df.isna().sum()
df.dropna(inplace=True)

In [4]:
# Validando se existem dados nulos
df.isna().sum()

Cliente         0
Região          0
Mês             0
Valor Compra    0
dtype: int64

1. Qual a região com a maior quantidade de vendas? (número de vendas, em porcentagem)

In [31]:
df_quantidade_vendas = df.groupby(['Região']).nunique().reset_index()

# Cria uma nova coluna com o valor em porcentagem equivalente a cada região
df_quantidade_vendas['Porcentagem'] = (df_quantidade_vendas['Valor Compra'] / df_quantidade_vendas['Valor Compra'].sum()) * 100


# Armazena o valor em uma variavel para mostrar para o usuário
regiao = df_quantidade_vendas[df_quantidade_vendas['Valor Compra'].max() == df_quantidade_vendas['Valor Compra']]
regiao
"""A Região: {Região}, Teve um total de {Valor Compra} vendas , equivalente á {Porcentagem:.2f}% do total de quantidade de vendas""".format(**regiao.iloc[0])

'A Região: Sudeste, Teve um total de 153 vendas , equivalente á 25.63% do total de quantidade de vendas'

2. Qual a região que rendeu maiores valores em reais?

In [22]:
df_valor_compras = df.groupby(['Região']).sum().reset_index()

# Cria uma nova coluna com o valor em porcentagem equivalente a cada região
df_valor_compras['Porcentagem'] = (df_valor_compras['Valor Compra'] / df['Valor Compra'].sum()) * 100

# Armazena o valor em uma variavel para mostrar para o usuário
regiao = df_valor_compras[df_valor_compras['Valor Compra'].max() == df_valor_compras['Valor Compra']]

/tmp/ipykernel_2657/1407600530.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_valor_compras = df.groupby(['Região']).sum().reset_index()

In [23]:
regiao['Região'].str.lower()

"""A Região: {Região}, vendeu um total de: R$ {Valor Compra:.2f} equivalente á {Porcentagem:.2f}% do total de vendas""".format(**regiao.iloc[0])

'A Região: Sudeste, vendeu um total de: R$ 483037.60 equivalente á 25.45% do total de vendas'

3. A região com maior quantidade de vendas está entre as que renderam maiores valores em reais?

In [53]:
df_comparativo = df.groupby(['Região'])['Cliente'].count().reset_index()
df_comparativo['Total Vendas'] = df.groupby(['Região']).sum().reset_index()['Valor Compra']
df_comparativo.sort_values('Total Vendas', ascending=False)

/tmp/ipykernel_2657/612739736.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_comparativo['Total Vendas'] = df.groupby(['Região']).sum().reset_index()['Valor Compra']

         Região  Cliente   Total Vendas
3       Sudeste      157  483037.597122
0  Centro-Oeste      145  440884.832734
2         Norte      120  379351.050360
4           Sul      100  307910.789568
1      Nordeste       94  287163.847122

    - Sim, a região que vendeu mais foi a mesma que teve a maior quantidade de vendas

4. Qual número atual de clientes em cada uma das 5 regiões?

In [4]:
df.groupby(['Região'])['Cliente'].nunique().reset_index()

         Região  Cliente
0  Centro-Oeste        3
1      Nordeste        3
2         Norte        3
3       Sudeste        3
4           Sul        3

In [46]:
df.shape

(616, 4)

5. As regiões mais rentáveis são as que possuem o maior número de clientes?

In [54]:
df_comparativo.sort_values('Total Vendas', ascending=False)

         Região  Cliente   Total Vendas
3       Sudeste      157  483037.597122
0  Centro-Oeste      145  440884.832734
2         Norte      120  379351.050360
4           Sul      100  307910.789568
1      Nordeste       94  287163.847122

- Como podemos ver a tabela acima, as regiões que possuem mais clientes são as que mais rentáveis.